* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 24px;
}

body {
  background: #caf0f8;
}

.container {
  padding-top: 10%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  width: 70%;
  border-radius: 15px;
  margin-bottom: 40px;
}

.quote__text > * {
  color: #03045e;
  font-size: 50px;
  font-style: oblique;
  line-height: 70px;
}

.quote__text > span {
  white-space: nowrap;
}

.author__container {
  text-align: end;
  padding: 30px 100px 0 0;
  color: #03045e;
}

.quote__author {
  font-size: 30px;
  font-weight: 600;
}

.button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background: #0077b6;
  margin: 10px;
}

.twitter {
  background: #48cae4;
  margin-bottom: 50px;
}

.twitter > div {
  font-weight: 400;
  font-size: 24px;
  padding-top: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  width: 100%;
  background: #0077b6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__container {
  padding-left: 90px;
}

.icon {
  fill: #fff;
  margin-right: 10px;
}

.name__link {
  color: #fff;
}

.name {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
}
